.menu {
  /* 縦並びのリストにする */
  display: flex;
  flex-direction: column;

  /* ul要素のスタイリングを消す */
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    a {
      display: block;
    }
  }
}

.link {
  color: #000000;
  text-decoration: none;
}

/* 横幅700px以下の場合 */
@media screen and (width <= 768px) {
  /* リストを横並びにする */
  .menu {
    flex-direction: row;
  }
}

@media screen and (width <= 480px) {
  /* リストを縦並びにする */
  .sidebar__ul {
    flex-direction: column;
  }
}
