.container {
  width: var(--width-sidebar);
  overflow-y: auto;
  background-color: var(--gray-3);

  ul {
    display: flex;
    flex-direction: column;
    padding: var(--space-1);

    li {
      a {
        display: block;
        width: 100%;
        height: 100%;
        padding: var(--space-2);
        font-size: var(--font-size-2);
        color: var(--gray-12);
        text-decoration: none;
        border-radius: var(--radius-2);

        &:hover {
          background-color: var(--gray-6);
        }

        &.active {
          background-color: var(--gray-7);
          font-weight: var(--font-weight-medium);
        }
      }
    }
  }
}

@media (width <= 768px) {
  .container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.2s ease;
  }

  .container.open {
    transform: translateX(0);
  }
}
