:root {
  --color-border: #7f7f7f;
  --color-inactive-tab: #f0f0f0;
  --color-foreground: #000000;
  --color-background: #ffffff;
}

.content {
  margin-left: var(--width-sidebar);
  height: 100%;
}

@media screen and (width >= 769px) {
  .sidebar {
    position: fixed;
    width: var(--width-sidebar);
    height: 100%;
    overflow: auto;
    border-right: 1px solid var(--color-border);
  }
}

/* 横幅700px以下の場合 */
@media screen and (width <= 768px) {
  /* サイドバーとコンテンツを縦に並べる */
  .sidebar {
    position: relative; /* 常に表示したい場合は position: sticky; top: 0; */
    width: 100%;

    /* 縦の線を横の線にする */
    border-right: none;
    border-bottom: 1px solid var(--color-border);
  }

  .content {
    margin-left: 0;
  }

  /* リストを横並びにする */
  .sidebar__ul {
    flex-direction: row;
  }
}

@media screen and (width <= 480px) {
  /* リストを縦並びにする */
  .sidebar__ul {
    flex-direction: column;
  }
}

.version {
  position: fixed;
  right: 0;
  top: 0;
}
