:root {
  --width-sidebar: 300px;
  --color-selected: #f0f0f0;
  --color-border: #7f7f7f;
  --color-inactive-tab: #f0f0f0;
  --color-foreground: #404040;
  --color-foreground-aside: #7f7f7f;
  --color-background: #fff;
  --color-background-sidebar: #f6f6f6;
  --border-width-normal: 1px;
  --border-radius-normal: 4px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: var(--color-foreground);
  background-color: var(--color-background);
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
