:root {
  --width-sidebar: 200px;
  --screen-width-tablet: 768px;
  --screen-width-phone: 480px;
  --color-border: #7f7f7f;
}

html,
body,
#root {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-position: inside;
}
