:root {
  --width-sidebar: 300px;
  --color-selected: #f0f0f0;
  --color-border: #7f7f7f;
  --color-inactive-tab: #f0f0f0;
  --color-foreground: #404040;
  --color-background: #ffffff;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

textarea,
input {
  color: var(--color-foreground);
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-position: inside;
}
